import os
import subprocess
import sys
import shutil

def tool_main(tool: str):
    """ Run file as if it were invoked directly

    Runs a file forwarding in all the arguments to the file itself. The file chosen is inferred from the name of the
    python executable (i.e. sys.arv[0]). Exits forwarding back the return code.
    """
    binary_file = os.path.join(os.path.dirname(__file__), "fpp")
    {% if jar_distribution -%}
    if not shutil.which("java"):
        print(f"[ERROR] {sys.argv[0]} requires 'java'. Please install 'java' and ensure it is available on the PATH.")
        sys.exit(-23)
    arguments = ["java", "-jar", f"{binary_file}.jar"]
    {% else -%}
    arguments = [f"{binary_file}", tool] + sys.argv[1:]
    {% endif -%}

    if tool:
        arguments.append(tool)

    arguments.extend(sys.argv[1:])

    process = subprocess.run(arguments)
    sys.exit(process.returncode)

{% for tool_name in tools.keys() %}
def main_{{ tool_name }}():
    tool_name("{{ tool_name }}")
{% endfor %}

def main():
    tool_main("")

if __name__ == "__main__":
    main()
