[build-system]
requires = ["setuptools", "setuptools_scm[toml]>=6.2", "wheel"]

[project]
name = "{{ package }}"
dynamic = ["version"]
description = "{{ package }} distrobution package"
requires-python = ">=3.8"
keywords = ["fprime", "embedded", "nasa", "flight", "software"]
authors = [
  {name = "Michael Starch", email = "Michael.D.Starch@jpl.nasa.gov"},
  {name = "Thomas Boyer-Chammard", email = "Thomas.Boyer.Chammard@jpl.nasa.gov"},
]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Operating System :: Unix",
    "Operating System :: POSIX",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

dependencies = {{ dependencies }}

[project.urls]
homepage = "https://fprime.jpl.nasa.gov"
documentation = "https://nasa.github.io/fprime/"

{% if fast_hack -%}
[tool.setuptools.data-files]
bin = [
{% for tool_path in tools.values() %}
    "{{ tool_path }}",
{% endfor %}
]
{% else -%}
[project.scripts]
fpp = "{{ package_corrected }}.__main__:main"

{% for tool_name in tools.keys() %}
{{ tool_name }} = "{{ package_corrected }}.__main__:main_{{ tool_name }}"
{% endfor %}

[tool.setuptools.package-data]
{{ package_corrected }} = [
{% for tool_name in tools.keys() %}
    "{{ tool_name }}*",
{% endfor %}
]
{% endif %}

[tool.setuptools_scm]
root = "../.."
